# Python cache
__pycache__/
*.pyc

# Mac OS / Windows specific
.DS_Store
Thumbs.db

# Local Data (IMPORTANT: Do not track history or logs)
subdomains_history.json
*.json
*.txt
*.log

# Environment variables
.env
